<html>
  <head>
    <title>Encode</title>
    <link rel="icon" href="https://kllc.github.io/repo/img/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
    <style>
      body {
        font-family: "Noto Sans JP", sans-serif;
      }
      a {
        text-decoration: none;
        transition: color 0.3s;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-main class="grey lighten-5">
          <v-container fluid>
            <section>
              <v-textarea
                outlined
                v-model="md"
                label="Markdown"
                class="ma-4"
              ></v-textarea>
              <v-textarea
                outlined
                v-model="encode"
                label="Encode"
                class="ma-4"
              ></v-textarea>
              <v-textarea
                outlined
                v-model="decode"
                label="Encode"
                class="ma-4"
              ></v-textarea>
            </section>
          </v-container>
        </v-main>
      </v-app>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script type="module">
      new Vue({
        el: "#app",
        vuetify: new Vuetify(),
        data() {
          return {
            md: "",
          };
        },
        computed: {
          encode: function () {
            return encodeURIComponent(
              btoa(unescape(encodeURIComponent(this.md)))
            );
          },
          decode: function () {
            return decodeURIComponent(
              escape(atob(decodeURIComponent(this.encode)))
            );
          },
        },
        async mounted() {
          this.$nextTick(() => {
            this.updateDimensions();
            window.addEventListener("resize", this.updateDimensions, {
              passive: true,
            });
          });
        },
        watch: {},
        methods: {
          updateDimensions() {
            this.clientWidth = Math.max(
              document.documentElement.clientWidth,
              window.innerWidth || 0
            );
            this.clientHeight = Math.max(
              document.documentElement.clientHeight,
              window.innerHeight || 0
            );
          },
        },
        destroyed() {
          window.removeEventListener("resize", this._updateDimensions);
        },
      });
    </script>
  </body>
</html>
